<div class="card card-default">
	<div class="card-header py-2">
		<span><i class="bi bi-pencil-square me-1"></i></span> Edit Voucher
	</div>
	<div class="card-body">
		<div class="row mb-2">
			<div class="form-group col-sm-6">
				<div>Voucher ID</div>
				<input ng-model="form.id" class="form-control" placeholder="Voucher ID" ng-disabled="active == 1">
			</div>
			<div class="form-group col-sm-6">
				<div>Discount(%)</div>
				<input ng-model="form.discount" class="form-control" placeholder="Nhập % giảm giá">
			</div>
		</div>
		<div class="row mb-2">
			<div class="form-group col-sm-6">
				<div>Price Apply</div>
				<input ng-model="form.priceapply" class="form-control" placeholder="Nhập giá áp dụng">
			</div>
			<div class="form-group col-sm-6">
				<div>Model Apply</div>
				<select ng-model="form.productModel.modelname" class="form-select" ng-disabled="active == 1">
					<option ng-repeat="pm in productModels" ng-value="pm.modelname">{{pm.modelname}}</option>
				</select>
			</div>
		</div>
		<div class="row mb-2">
			<div class="form-group col-sm-12">
				<div>End Date</div>
				<input ng-model="form.endDate" type="date" class="form-control">
			</div>
		</div>
		<div class="row mb-2">
			<div class="form-group col-sm-12">
				<div>Description Voucher</div>
				<textarea ng-model="form.descvoucher" rows="3" class="form-control"></textarea>
			</div>
		</div>		
	</div>
	<div class="card-footer text-center">
		<button ng-click="create()" class="btn btn-primary" ng-disabled="active == 1">
			<b class="glyphicon glyphicon-save"></b> Create
		</button>
		<button ng-click="update()" class="btn btn-success" ng-disabled="active == 0">
			<b class="glyphicon glyphicon-save"></b> Update
		</button>
		<button ng-click="delete(form)" class="btn btn-danger" ng-disabled="active == 0">
			<b class="glyphicon glyphicon-trash"></b> Delete
		</button>
		<button ng-click="reset()" class="btn btn-warning">
			<b class="glyphicon glyphicon-save"></b> Reset
		</button>
	</div>
</div>